<!DOCTYPE html>

<head>

  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='sneed.css') }}">
  <script src="/static/script.js"></script>
</head>

<body>

  <h2>Account Registration</h2>
  <div class="reg">


    <form name="login-form" action="{{ url_for('new_user') }}" method="POST">
      {% if request.args.get('exist_user') %}
      <p class="msg">The username already exist in our servers! Please try again!</p>
      {% endif %}
      {% if request.args.get('wrong_password') %}
      <p class="msg">Did not confirm the right password! Please try again!</p>
      {% endif %}

      <label><b>Username</b>
      </label>
      <input type="text" name="username" id="username" placeholder="Username">
      <br><br>
      <label><b>Password</b>
      </label>
      <input type="password" name="password" id="password" placeholder="Password">
      <br><br>
      <label><b>Confirm Password</b>
      </label>
      <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
      <br><br>
      <input type="submit" class="subbox1" value="Register Account">
      <br><br>
  </div>


  </form>
</body>

</html>